
/* font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif;
color: #fdca40 (yellow)
color: #e8eef2 (sky blue)
color: #001427 */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
  max-width: 100%;
}
body{
  font-family: 'Montserrat', sans-serif;
  color: #001427;
  text-align: justify;
}
.preloaded .afterloaded{
  display: none;
}

.loaded .preload{
  display: none;
}

.loaded .afterloaded{
  display: block;
}
.preload {
  background-color: rgb(0,20,39);
  height:100vh;
}

svg {
  width: 100%;
}

.container1 {
  padding-top:17%;
  margin: auto;
  width: 13%;
}

.st0 {
  fill: #FDCA40;
}

.st1 {
  fill: none;
  stroke: #FDCA40;
  stroke-width: 4;
  stroke-miterlimit: 10;
}

.st2 {
  fill: none;
  opacity: .5;
  stroke: #FDCA40;
  stroke-width: 2;
  stroke-miterlimit: 10;
}

#one {
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-animation: line-glow 1s .1s infinite;
  animation: line-glow 1s .1s infinite;
}

#two {
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-animation: line-glow 1s .2s infinite;
  animation: line-glow 1s .2s infinite;
}

#three {
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-animation: line-glow 1s .3s infinite;
  animation: line-glow 1s .3s infinite;
}

#four {
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-animation: line-glow 1s .4s infinite;
  animation: line-glow 1s .4s infinite;
}

#five {
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-animation: line-glow 1s .5s infinite;
  animation: line-glow 1s .5s infinite;
}

#six {
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-animation: line-glow 1s .6s infinite;
  animation: line-glow 1s .6s infinite;
}

#seven {
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-animation: line-glow 1s .7s infinite;
  animation: line-glow 1s .7s infinite;
}

#bulb-body-fill {
  -webkit-animation: bulb-on 1s ease infinite;
  animation: bulb-on 1s ease infinite;
}

@-webkit-keyframes line-glow {
  10% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 1;
  }
}

@keyframes line-glow {
  10% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 1;
  }
}

@-webkit-keyframes bulb-on {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bulb-on {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
.animate-flicker {
   -webkit-animation: flickerAnimation 1s infinite;
   -moz-animation: flickerAnimation 1s infinite;
   -o-animation: flickerAnimation 1s infinite;
    animation: flickerAnimation 1s infinite;
}

.main-hea{
  padding-top: 10px;
  text-align: center;
  color: #fdca40;
  font-size: 4rem;
}
h1{
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  letter-spacing: 3px;
  font-size: 4rem;
  font-weight: 900;

}
#title{
  color: #FDCA40;
  background-color: #e8eef2;
  width: 100%;
  height: auto;
  background: linear-gradient(rgba(255,255,255,.8), rgba(0,20,39,.8)), url("herobck3.jpg");
  background-attachment: fixed;

  background-size: 100% 100%;
}

.navbar-light .navbar-nav .nav-link {
    color: #001427;
}
.nav-item{
  padding: 0 16px;
}
.nav-link{
  font-size: 1.2rem;
  font-weight: 200;
}
.navbar-light .navbar-nav .nav-link:hover {
  border-bottom: 2px solid #fdca40;
}
.ml-auto{
  text-align: center;
}

/*heading*/

.head-container{
  margin-left: 8%;
  padding-top: 150px;
}
.heading{
  text-align: justify;
}
.sub-heading{
  text-align: justify;
}

.title-content{
  width:30%;
  /* margin-left: 30%; */
  padding-top: 50px;
  padding-bottom: 50px;
}
.event-details{
  color: #FDCA40;
  font-size: 1.5rem;
  line-height: 1.5;

}
.ctabutton{
  width:50%;
  padding-bottom: 16%;
}

.btn1{
  margin-right: 25px;
}
@media (max-width: 1200px)  {
  #title{
  height: 100vh;
}
  .event-details{
    font-size: 3rem;
  }
  .preloaded .preload{
    padding-top: 15%;
  }
}

/* .timer {
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  line-height: 1;
  padding-bottom: 5px;
  font-size: 40px;
}
.cntdwn{
  margin-left: 8%;
}

.time-span{
  display: block;
  font-size: 10px;
  color: #001427;
}

.days {
  font-size: 50px;
  color: #001427;
  display: inline-block;
  line-height: 1;
  padding: 20px;
}
.hours {
  font-size: 50px;
  color: #001427;
  display: inline-block;
  line-height: 1;
  padding: 20px;
}
.minutes {
  font-size: 50px;
  color: #001427;
  display: inline-block;
  line-height: 1;
  padding: 20px;
}
.seconds {
  color: #001427;
  display: inline-block;
  line-height: 1;
  padding: 20px;
  font-size: 20px;
} */
/* .schedule-image{
  padding-top: 50px;
  width:72%;
  margin: auto;
  padding-bottom: 500px;
}

.event-flow{
  width:100%;
  height:auto;
} */

body {

  /* color: #fff; */÷
  overflow-x: hidden;
}  /* INTRO SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.intro-head{
  font-size: 2.3rem;
  color: #fdca40;
}
.intro {
  background: #001427 ;
  padding: 50px 0;
}

.container {
  position: relative;
  width: 90%;
  max-width: 1200px;
  text-align: center;
}

/* arrow */
.arrow{
    position: absolute;
    top: 5%;
    right:30%;
    transform: translate(-50%,-50%);
}
.arrow span{
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #fdca40;
    border-right: 5px solid #fdca40;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}

/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul{
    margin: 0;
}

.timeline ul {
  background: #001427;
  padding: 50px 0;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #fdca40;
}

.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: #fdca40;
}

.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #fdca40 transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -439px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #fdca40;
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
  transition: background .5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: #fdca40;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}
/* Section - Features */

.features-icon{
  padding-bottom: 1rem;
  color: #fdca40;
  font-size: 5rem;
  transition-delay: 0.1s;
}

.features-icon:hover{
  color: #001427;
}
.ticon{
  font-size: 2rem;
  color: #001427;
}

/* Features */
#features{
  background-color: #fff;
  position: relative;
  z-index: 1;
  padding: 7rem 5rem;
}

#features h3{
  font-size: 2.2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}
#features p{
  font-size: 1.5rem;
  color: #8f8f8f;
}
.feat{
  text-align: center;
}

/* SECTION - TESTIMONIALS */
#testimonials{
  text-align: center;
  background-color: #e8eef2;
  color: #001427;
}

.carousel-item{
  padding: 15rem 10rem;
}

.testimonial-image{
  width: 150px;
  height: 150px;
  border-radius: 100%;
  margin-right: 3%;
}
.quote-master{
  font-size: 1.5rem;
}
.testimonial-text{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  line-height: 1.5;
  font-size: 2.5rem;
  padding-bottom: 4rem;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 50px;
  width: 50px;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 40px;
  color: #001427;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 40px;
  color: #001427;
}

/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */



@media (max-width: 1200px) {
  #title{
    background-attachment: scroll;
  }
  h1{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    font-size: 5rem;
    font-weight: 900;

  }
  .subtitle{
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.5;
    text-align: left;
    width: 40%;
  }
  .event-details{
    font-size: 1.4rem;
  }
  .title-content{
    width: 35%;
    font-weight: 400;

  }
  .arrow{
      position: absolute;
      top: 5%;
      right:20%;
      transform: translate(-50%,-50%);
  }
  .timeline ul li div {
    width: 350px;
  }
  .timeline ul li:nth-child(even) div {
    left: -389px;
    /*250+45-6*/
  }
  .timeline ul li::after {
    transition: background .5s ease-in-out;
  }

  .timeline ul li.in-view::after {
    background: #fdca40;
  }

  .timeline ul li div {
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease-in-out;
  }

  .timeline ul li:nth-child(odd) div {
    transform: translate3d(95px, 0, 0);
  }

  .timeline ul li:nth-child(even) div {
    transform: translate3d(-95px, 0, 0);
  }

  .timeline ul li.in-view div {
    transform: none;
    visibility: visible;
    opacity: 1;
  }
  .testimonial-text{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    line-height: 1.5;
    font-size: 2rem;
    padding-bottom: 4rem;
  }
}

@media (max-width: 800px) {
  #title{
    background-attachment: scroll;
  }
  .arrow{
      position: absolute;
      top: 5%;
      right:10%;
      transform: translate(-50%,-50%);
  }
  h1{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    font-weight: 600;

  }
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #fdca40 transparent transparent;
  }
  .footer-distributed{
    font: bold 14px;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }
}
@media (max-width: 767px) {

  #title{
    background-attachment: scroll;
  }
  .preloaded .preload{
    padding-top: 50%;
  }
  .arrow{
      position: absolute;
      top: 5%;
      right:10%;
      transform: translate(-50%,-50%);
  }
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #fdca40 transparent transparent;
  }
  .footer-distributed{
    font: bold 18px;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }
}

/* Responsive footer */

.footer-distributed{
	background: #001427;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */


.footer-distributed h3 span{
	color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
  font-family: 'Montserrat', sans-serif;
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
  padding-right: 10px;
}
.footer-distributed .footer-links a:hover{
	border-bottom: 2px solid #fdca40;
}
.footer-distributed .footer-company-name{
  font-family: 'Montserrat', sans-serif;
	color:  #fdca40;
	font-size: 17px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #fdca40;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
  font-family: 'Montserrat', sans-serif;
	display: inline-block;
	color: #e8eef2;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:17px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #fdca40;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  display: inline-block;
  padding-right: 15px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}
/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
  font-family: 'Montserrat', sans-serif;
	line-height: 20px;
	color:  #e8eef2;
	font-size: 17px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #e8eef2;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	border-radius: 2px;
	font-size: 25px;
	color: #fdca40;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

.faq-section {
    background: #001427;
    min-height: auto;
    padding: 10vh 0 0;
    padding-bottom: 100px;
}
.faq-title h2 {
  color: #fdca40;
  position: relative;
  margin-bottom: 45px;
  display: inline-block;
  font-weight: 600;
  line-height: 1;
}
.faq-title h2::before {
    content: "";
    position: absolute;
    left: 50%;
    width: 60px;
    height: 2px;
    background: #fdca40;
    bottom: -25px;
    margin-left: -30px;
}
.faq-title p {
  padding: 0 190px;
  margin-bottom: 10px;
}

.faq {
  background: #e8eef2;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.6);
  border-radius: 4px;
}

.faq .card {
  border: none;
  background: none;
  border-bottom: 1px dashed #001427;
}

.faq .card .card-header {
  padding: 0px;
  border: none;
  background: none;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.faq .card .card-header:hover {
    background: rgba(253,202,64,0.2);
    padding-left: 10px;
}
.faq .card .card-header .faq-title {
  width: 100%;
  text-align: left;
  padding: 0px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px;
  color: #001427;
  text-decoration: none !important;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 20px;
}

.faq .card .card-header .faq-title .badge {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 14px;
  float: left;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  text-align: center;
  background: #fdca40;
  color: #001427;
  font-size: 12px;
  margin-right: 20px;
}

.faq .card .card-body {
  padding: 30px;
  padding-left: 35px;
  padding-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  color: #6F8BA4;
  line-height: 28px;
  letter-spacing: 1px;
  border-top: 1px solid #001427;
}

.faq .card .card-body p {
  margin-bottom: 14px;
}

@media (max-width: 991px) {
  .faq {
    margin-bottom: 30px;
  }
  .faq .card .card-header .faq-title {
    line-height: 26px;
    margin-top: 10px;
  }
}
